 <!-- 
    1. Сделать собственные примеры методов применяемых для массивов.

    2. Создать функцию для нахождения минимального и максимального элемента массива getMinAndMax(array).
    Результат должен выводиться в консоль.

    3. Определить элементы массива и вывести их значения, индексы которых лежит в указанном пределе. Предел вводит пользователь.

    4. Отсортировать массив на 10 чисел в порядке возростания. Значения принимаются от пользователя. Сортировка осушествляется методом sort().
    
    5. Создать программу, выполняющую вставку элемента в массив после элемента, значение которого укажет пользователь.

    6. Необходимо получить предпоследний элемент из массива month и вывести его на экран. 
    var month = ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"]

    7. Создать два произвольных массива: один массив - любимая спортивная команда / модели автомобилей / города, во втором - количество игроков в команде / объем двигателя / количество жителей в городе. Объединить данные из двух массивов и вывести их в одну строку.  -->
      </script>
</head>
<body>
  <script>
     //Task 1
      document.write("Завдання №1" + "<br>")
      document.write("<br></br>")
      //1 варіант
      document.write("1 Варіант" + "<br>"+ "<br>")
    var staff = ["Прибиральник ", "Електрик ", "HR ", "Програміст ", "Директор "]
      document.write(staff);
      document.write("<br>")
      document.write("Елемент массиву під індексом 1 - " + staff[1] + "; В массиві він поданий другим.")
      document.write("<br></br>")
      //2 Варіант
      document.write("2 Варіант" + "<br>"+ "<br>")
    var phones = ["iphone ", "xiomi ", "huawei "]
      document.write(phones);
      document.write("<br>");
    var changed_array = phones.join(",,")
      document.write(changed_array);
      document.write("<br>");
      changed_array = phones.join("<br>")
      document.write(changed_array);
      document.write("<br></br>")
      //3 Варіант
      document.write("3 Варіант" + "<br>"+ "<br>")
    var weekDays = ["Пн. ","Вт. ","Ср. ","Чт. ","Пт. "]
    var weekEnd = ["Сб. ", "Вс. "]
    var week = weekDays.concat(weekEnd);
      document.write(weekDays + "<br>")
      document.write(weekEnd + "<br>")
      document.write(week + "<br>")
      document.write("<br></br>")
      //4 Варіант
      document.write("4 Варіант" + "<br>"+ "<br>")
    var numbers = [5,4.3,2,1]
      document.write(numbers);
      document.write("<br>");
      numbers = numbers.reverse();
      document.write(numbers);
      document.write("<br></br>")
      //5 Варіант
      document.write("5 Варіант" + "<br>"+ "<br>")
    var cars = [" MB", " BMW", " MG", " Zaz", " LR", " Honda", " Ford"];
    var parts = cars.slice(2,5)
      document.write(parts + "<br>");
    var wheels = cars.slice(4);  
      document.write(wheels + "<br>");
    var parts = cars.slice(0,-3)
      document.write(parts);
      document.write("<br></br>")
      //6 Варіант
      document.write("6 Варіант" + "<br>"+ "<br>")
    var staff = [" Прибиральник", " Електрик", " HR ", " Програміст", " Директор."]
      document.write("Працівники: " + staff + "<br>");
    var del = staff.splice(0,2)
      document.write("Звільнені працівники: " + del + "." + "<br>");
      document.write("Працівники що залишились: " + staff + "<br>");
    staff.splice(1,0, " Інженер", " Механік." );
      document.write("Новий персонал компанії: " + staff + "<br>");
    staff.splice(2,4)
      document.write("Нові працівники: " + staff + ".");
      document.write("<br></br>");

    //Task 2
      document.write("Завдання №2" + "<br>");
      document.write("<br></br>");
             
      let arr = [1, 2, 3, 4, 5, 6]

      function getMinAndMax(array) {
        let min = Math.min(...arr)
        let max = Math.max(...arr)

        return document.write("Мінімальне значення в діапазоні від 1 до 6= " + min + "<br>" + "Максимальне значення в діапазоні від 1 до 6= " + max)
      } 

      getMinAndMax(arr);
      document.write("<br></br>");
    //Task 3
    document.write("Завдання №3" + "<br>");
    document.write("<br></br>");

    var mass = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15];

    var indexFirst = +prompt('Input your first index number');
    var indexLast = +prompt('Input your last index number');

    var userMass = mass.slice(indexFirst,indexLast +1);
      document.write(userMass) 

      document.write("<br></br>") ; 
    //Task 4
    document.write("Завдання №4" + "<br>");
    document.write("<br></br>");
    
    var string = prompt("Введіть 10 чисел");
    var anotherArr = [];

    
    while (string !== null && string !== "") {
      anotherArr.push(+string);
    
      if (anotherArr.length >= 10) {
        break;
      }
      string = prompt("Введіть наступне число");
    }

    for (let i = 0; i < arr.length; i++) {
      anotherArr.sort(function (a, b) {
        return a - b;
      });
    }
    document.write("Відсортований масив в порядку зростання: " + anotherArr);
    document.write("<br></br>");
    //Task 5
    document.write("Завдання №5" + "<br>");
    document.write("<br></br>");

    function products() {
      var array = ['Хліб','Банани','Кокоси','Паштет','Ковбаса','Помідори','Огірки'];
      var inputItem = prompt("Що додаємо в список покупок?");
      var inputIndex = +prompt("Після... (число від 0 до 9)");
      array.splice(inputIndex, 0, inputItem);
      document.write(array.join("; "));
    }
    products();
    document.write("<br></br>");
    //Task 6
    document.write("Завдання №6" + "<br>");
    document.write("<br></br>");
    
    var month = ["Январь", "Февраль", "Март", "Апрель", "Май", "Июнь", "Июль", "Август", "Сентябрь", "Октябрь", "Ноябрь", "Декабрь"]
      document.write('11 месяц года это - ' + month[10]);
      document.write("<br></br>");
    //Task 7
    document.write("Завдання №7" + "<br>");
    document.write("<br></br>");

    
    var firstArr = ['4.4 L','3 L','4 L','0.8 L','5 L'];
    var secondArr = ['BMW', 'Audi', 'MB', 'Zaz', 'LR'];
    var cars = [];
      for (var i = 0; i < firstArr.length; i++) {
        cars = cars.concat(secondArr[i], firstArr[i]);
      }
    document.write(cars.join(' , '));

  
  </script>
</body>
</html>

